.body{
    border: 1px solid  rgb(221, 173, 16);
    height: 500px;
    width: 600px;
    background-color: rgb(17, 59, 9);
}
.top1{
    border: 1px solid  rgb(221, 173, 16);
    height: 28px;
    width: 240px;
    background-color: rgb(221, 173, 16);
    border-radius: 30px;
    margin-top: 90px;
    margin-left:220px;
}
.top2{
    border: 1px solid  rgb(221, 173, 16);
    height: 65px;
    width: 30px;
    background-color: rgb(221, 173, 16);
    border-radius: 30px;
    margin-top: -30px;
    margin-left:435px;
}
.top3{
    border: 1px solid  rgb(221, 173, 16);
    height: 45px;
    width: 30px;
    background-color: rgb(221, 173, 16);
    margin-top: -40px;
    margin-left:285px;
}

