.body{
    border: 1px solid black;
    height: 500px;
    width: 500px;
    background-color: rgb(147, 13, 13);
}
.hat-1{
    border: 1px solid black;
    height: 20px;
    width: 80px;
    background-color: black;
    margin-left: 200px;
    margin-top: 80px;
}
.hat-2{
    border: 1px solid white;
    height: 20px;
    width: 80px;
    background-color: white;
    margin-left: 200px;
    margin-top: 0px;
}
.hat-3{
    border: 1px solid black;
    height: 20px;
    width: 80px;
    background-color: black;
    margin-left: 200px;
    margin-top: 0px;
}
.hat-4{
    border: 2px solid black;
    height: 5px;
    width: 140px;
    background-color: black;
    margin-left: 168px;
    margin-top: -110px;
}
.snow-body-2{
    border: 1px solid   rgb(147, 13, 13) ;
    height: 30px;
    width: 120px;
    margin-top: -190px;
    margin-left: 179px;
    background-color:  rgb(147, 13, 13);
}
.snow-body-3{
    border: 1px solid   rgb(241, 153, 10) ;
    height: 17px;
    width: 100px;
    margin-top: -25px;
    margin-left: 188px;
    background-color: rgb(241, 153, 10) ;
    border-radius: 40px ;
}
.body-1{
    border: 1px solid white;
    height: 90px;
    width: 120px;
    background-color: white;
    margin-left: 179px;
    border-radius: 50px;
}
.body-2{
    border: 1px solid white;
    height: 180px;
    width: 180px;
    background-color: white;
    margin-left: 149px;
    border-radius: 50em;
}